.profile__container {
    margin: 40px 0 0 0;
    display: inline-flex;
    align-items: center;
}

@media screen and (max-width: 934px) {
    .profile__container {
        margin: 40px 0 0 27px;
    }
}

@media screen and (max-width: 767px) {
    .profile__container {
        margin: 36px 0 0 0;
        flex-direction: column;
    }
}