.popup__button-close {
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    border: none;
    position: relative;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        grid-column: 1 / 2;
        justify-self: right;
        height: 20px;
        width: 20px;
    }
}