.profile__info {
    display: grid;
    grid-template-columns: fit-content(450px) 24px;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 16px 18px;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        grid-template-columns: minmax(min-content, 300px) 24px;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-columns: 18px 190px 18px;
        gap: 14px 10px;
        text-align: center;
    }
}