.header__container {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 0 0;
    font-size: 0;
}

@media screen and (max-width: 934px) {
    .header__container {
        max-width: 934px;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        padding: 28px 0 0 0;
    }
}